<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce Netty logging verbosity -->
    <logger name="io.netty" level="warn"/>

    <!-- Root Logger (Set Debug Level and Use STDOUT) -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>